/* // ==========================================
//  Author: Meet Master
// ========================================== */

.OrderStatus {
    text-align: right;
}
.css-70qvj9 img{
    width:30px !important;
    border-radius: 0px !important;
}
.css-1g8ccub-MuiInputBase-root-MuiOutlinedInput-root{
    margin-top: 8px;
    margin-bottom: 4px;
}